<div class="col-xs-4">
  <button id="open-menu" type="button" name="menu" aria-label="Menu" title="Menu" disabled>
   <span aria-hidden="true"><i class="fa fa-bars"></i></span>
  </button>
</div>
<div class="col-xs-4 text-center">
  <button id="new-page" type="button" name="new" aria-label="New page" title="Add a new page" data-toggle="popover" data-trigger="focus" data-html="true" data-content='<a href="#" id="add-page" class="list-group-item">Create a new page</a><a href="#" id="duplicate-page" class="list-group-item">Duplicate this page</a>' data-placement="bottom" data-template='<div class="popover list-group" role="tooltip"><div class="arrow"></div><div class="popover-content"></div></div>' aria-expanded="true">
    <span aria-hidden="true"><i class="fa fa-plus-circle"></i></span>
  </button>
</div>
<div class="col-xs-4 text-right">
  <button id="edit-enable" type="button" name="edit">Edit</button>
</div>
