<div class="col-xs-6">
  <button id="open-settings" type="button" aria-label="Page Settings">
    <span aria-hidden="true"><i class="fa fa-navicon"></i></span><span class="hidden-xs"> Page Settings</span>
  </button>
</div>
<div class="col-xs-6 text-right">
  <button id="open-html-editor" type="button" aria-label="HTML Editor" title="Open HTML Editor">
    <span aria-hidden="true"><i class="fa fa-code"></i></span>
  </button>
  <button id="edit-disable" type="button" name="cancel" aria-label="Cancel" title="Discard changes">
    <span aria-hidden="true"><i class="fa fa-remove"></i></span>
  </button>
  <button id="edit-save" type="button" name="save">Save</button>
</div>
