<div class="modal fade" id="html-editor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Edit source</h4>
        <button type="button" class="btn btn-primary btn-split-screen save-html-editor">Apply</button>
        <button type="button" class="btn btn-default btn-split-screen cancel-html-editor" data-dismiss="modal">Cancel</button>
      </div>
      <div class="modal-body">
        <div id="editor"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default cancel-html-editor" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary save-html-editor" data-dismiss="modal">Apply</button>
      </div>
    </div>
  </div>
</div>
