<div class="modal fade" id="new-page-modal" tabindex="-1" role="dialog" aria-labelledby="new-page-modal-label" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="new-page-modal-label">Create a new page</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="polly-attribute-about">About</label>
          <input id="polly-attribute-about'" type="text" name="about" placeholder="Set path" value="" class="page-attribute form-control input-lg" required>
        </div>
        <div class="form-group">
          <label for="polly-attribute-content">Content</label>
          <textarea id="polly-attribute-content'" type="text" name="content" placeholder="Add content" value="" class="page-attribute form-control input-lg"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="create-new-page">Create</button>
      </div>
    </div>
  </div>
</div>
